if ARCH_NOVATEK

choice
	prompt "NovaTek board select"

config TARGET_NA51000
	bool "NovaTek NA51000 family SoC"
	# CPU is V7A with cache line size is 64
	select CPU_V7A
	select ARCH_MISC_INIT
	select MISC_INIT_R
	select NVT_IVOT_SOC
	help
	  The Novatek NA51000 series are the ARM-based SoC with a single core Cortex-A53

config TARGET_NA51000_A64
	bool "NovaTek NA51000 family A64 SoC"
	# CPU is V7A with cache line size is 64
	select ARM64
	select ARCH_MISC_INIT
	select MISC_INIT_R
	select NVT_IVOT_SOC
	help
	  The Novatek NA51000 series are the ARM-based SoC with a single core Cortex-A53

config TARGET_NA51055
	bool "NovaTek NA51055 family SoC"
	# CPU is V7A with cache line size is 32
	select CPU_V7A
	select ARCH_MISC_INIT
	select MISC_INIT_R
	select NVT_IVOT_SOC
	help
	  The Novatek NA51055 series are the ARM-based SoC with a single core Cortex-A9.

config TARGET_NA51068
	bool "NovaTek NA51068 family SoC"
	# CPU is V7A with cache line size is 32
	select CPU_V7A
	select ARCH_MISC_INIT
	select MISC_INIT_R
	select NVT_IVOT_SOC
	help
	  The Novatek NA51068 series are the ARM-based SoC with a dual core Cortex-A9.

config TARGET_NA51089
	bool "NovaTek NA51089 family SoC"
	# CPU is V7A with cache line size is 32
	select CPU_V7A
	select ARCH_MISC_INIT
	select MISC_INIT_R
	select NVT_IVOT_SOC
	help
	  The Novatek NA51089 series are the ARM-based SoC with a single core Cortex-A9.

config TARGET_NA51090
	bool "NovaTek NA51090 family SoC"
	# CPU is V7A with cache line size is 64
	select CPU_V7A
	select ARCH_MISC_INIT
	select MISC_INIT_R
	select NVT_IVOT_SOC
	help
	  The Novatek NA51000 series are the ARM-based SoC with a single core Cortex-A53

config TARGET_NA51090_A64
	bool "NovaTek NA51090 family A64 SoC"
	# CPU is V7A with cache line size is 64
	select ARM64
	select ARCH_MISC_INIT
	select MISC_INIT_R
	select NVT_IVOT_SOC
	help
	  The Novatek NA51000 series are the ARM-based SoC with a single core Cortex-A53

endchoice

config NVT_DISABLE_CFG_CHK
	string
	default y

config SYS_MALLOC_LEN
	hex
	default 0x300000

config NVT_BOARD
	bool
	default y

# To inculde basic arch config
source "arch/arm/mach-novatek/nvt_na51000_a32/Kconfig"
source "arch/arm/mach-novatek/nvt_na51000_a64/Kconfig"
source "arch/arm/mach-novatek/nvt_na51055_a32/Kconfig"
source "arch/arm/mach-novatek/nvt_na51068_a32/Kconfig"
source "arch/arm/mach-novatek/nvt_na51089_a32/Kconfig"
source "arch/arm/mach-novatek/nvt_na51090_a32/Kconfig"
source "arch/arm/mach-novatek/nvt_na51090_a64/Kconfig"
endif
