config NVT_CRYPTO
	bool "NovaTek NA51055 Crypto Driver Support"
	help
	  Novatek NA51055 processors have crypto engine accelerator.
	  Select this if you want to use the crypto engine for AES/DES/3DES
	  algorithms.

config NVT_HASH
	bool "NovaTek NA51055 Hash Driver Support"
	help
	  Novatek NA51055 processors have hash engine accelerator.
	  Select this if you want to use the hash engine for SHA1/SHA256 algorithms.

config NVT_RSA
	bool "NovaTek NA51055 RSA Driver Support"
	help
	  Novatek NA51055 processors have rsa engine accelerator.
	  Select this if you want to use the rsa engine.
