menu "Hardware crypto devices"

source drivers/crypto/fsl/Kconfig

if TARGET_NA51055
source drivers/crypto/nvt/na51055/Kconfig
endif

if TARGET_NA51090 || TARGET_NA51090_A64
source drivers/crypto/nvt/na51090/Kconfig
endif

endmenu
